body {
    background-color: #FFF;
}

#main-div {
    text-align: center;
}

#main-div li {
    list-style-type: none;
}

#main-div li button {
    margin-left: 10px;
    margin-right: 10px;
}

#restaurants-display {
    display: none;
    text-align: center;
}

.card {
    display: inline-block;
    margin: 2.5px;
}

.img-responsive {
    /* width: auto;
    height: 200px; */
}


/* .restaurant-div {
    background-color: #fbfbfb;
    margin: 10px;
    padding: 5px;
}

.restaurant-name {
    color: blue;
    font-size: 1.2em;
}

.restaurant-name a, .restaurant-name a:visited {
    text-decoration: none;
    color: blue;
}
 */
