:root {
  --item-count: 1;
  --chosen-i: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

.main-div {
  height: 100vh;
  background-image: url("images/bg.jpg");
  /* background:linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2)), url("images/bg.jpg"); */
  background-position: center;
  background-size: cover;
}

.main-div > img {
  filter: brightness(60%);
}

.intro-div {
  height: 95vh;
  color: #fbfbfb;
}

.intro-div .lead {
  font-size: 30px;
  font-weight: 300;
}

.intro-div .btn {
  border-radius: 20px !important;
  padding-left: 40px;
  padding-right: 40px;
  height: 40px;
  color: black;
  background-color: #fbfbfb;
}

.intro-div .btn:hover {
  background-color: #fbfbfb;
}

.tutorial-div {
  /* height: 400px; */
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  margin-top: 40px;
  padding-top: 20px;
}

.tutorial-div h1 {
  font-weight: 700;
  font-size: 42px;
}

.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}  

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-body .btn {
  margin-top: auto !important;
}

.bottom-div{
  margin-bottom: 60px;
}

.list-item {
  /* background-color: rgb(65, 140, 153); */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list-group-item {
  text-transform: uppercase;
}


.btn-danger {
  opacity: 0.85;
}

.alert {
  margin-bottom: 0;
}

.navbar {
  height: 5vh;
  font-weight: 600;
}

.navbar-transparent a, .navbar-transparent .navbar-text {
  color: #fbfbfb !important;
}

.navbar-transparent {
  background-color: transparent;
  color: #fbfbfb;
}

.navbar-white {
  background-color: #f5f5f5;
  color: #2b2b2b;
}

#pageUp {
  height: 45px;
  width: 45px;
  opacity: 0.7;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: fixed;
  bottom: 25px;
  right: 25px;
}

.birdIcon {
  height: 50px;
  width: auto;
}

.centerText {
  text-align: center;
}

.centerText a {
  color: #2b2b2b;
  font-weight: bold;
}

.intro-p {
  padding-right: 20px;
  padding-left: 20px;
}

.scrollerList {
  margin-top: 15px; 
  padding: 0;
  animation: scrollUp 4s forwards, colorGradient 4s forwards;
  /* animation-name: scrollUp;
  animation-duration: 4s;
  animation-fill-mode: forwards;

  animation-name: colorGradient;
  animation-duration: 4s;
  animation-fill-mode: forwards; */
}

@keyframes colorGradient {
  0%   {color: #FF3E3E;}
  10%   {color: #FF3E77;}
  20%   {color: #FF3EDE;}
  30%   {color: #E03EFF;}
  40%   {color: #4A3EFF;}
  50%   {color: #3E9DFF;}
  60%   {color: #3EEBFF;}
  70%   {color: #3EFFA4;}
  80%   {color: #63FF3E;}
  90%   {color: #EEFF3E;}
  100%   {color: #FF8C3E;}
}

.scroller {
  height: 100%;
  display: flex;
  font-size: 32px;
  letter-spacing: .05em;
  text-transform: uppercase;
}

.box {
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.scrollerItem {
  height: 80px;
  padding: 10px;
  list-style: none; 
}

.alert {
  position: fixed;
  left: 50%;
  top: calc(5vh);
  transform: translate(-50%, 1%);
  z-index: 1;
}

@keyframes scrollUp {
  from {
    transform: translateY(0);
  }
  to {
    /* 100%/count = each block in %, * the number of blocks we want to move up*/
    transform: translateY(calc(-100% / var(--item-count) *  var(--chosen-i)));
  }
}

@media screen and (min-width: 600px) {
  .intro-p {
    width: 30em;
    margin-left: 2em;
  }
}

